# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Model files
models/*.pth
models/*.bin
models/*.onnx